.order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label {
  font-weight: bold;
  color: var(--white1);
  text-shadow: 2px 2px 4px var(--black2);
  font-size: 1.1em;
}
.select {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--black1);
  background-color: var(--white1);
  color: var(--black3);
  font-size: 15px;
  outline: none;
}

.option {
  color: var(--black2);
}
.option:hover {
  background-color: orange;
  color: white;
}

@media (max-width: 391px) {
  .order {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 10px;
    gap: 0px;
  }
  .selectColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .select {
    font-size: 6px;
  }
  .option {
    font-size: 6px;
    padding: 2px;
    margin: 0px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .order {
    display: flex;
    align-items: center;
    font-size: 0.8em;
  }
  .selectColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .select {
    font-size: 12px;
  }
  .option {
    font-size: 10px;
    padding: 5px;
    margin: 0px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
