.container {
  background-image: url("../../helper/pexels-pixabay-326279.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  background-color: rgba(105, 105, 105, 0.5);
  border-radius: 8px;
  margin-top: 5em;
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.containerFormOne {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.5em;
}
.containerFormTwo {
  width: 50%;
}

.inputContainer {
  background-color: #004c8c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 25em;
}

.containerTextArea {
  display: flex;
  background-color: #004c8c;
  height: 10em;
  width: 30em;
  gap: 2em;
}

.divTextArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerImage {
  background-color: #004c8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 100%;
  height: 0em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2.5em;
  color: var(--black2);
  text-shadow: 1px 1px 2px greenyellow;
}

.label {
}

.divImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  min-width: 18em;
  height: 13em;
}

.button {
  position: fixed;
  top: 5.5em;
  left: 0.5em;
  border-radius: 8px;
  border: none;
  padding: 0.5em 0.8em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--orange1);
  color: var(--white1);
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #004c8c;
}

.button:active {
  color: #333;
}
