.container {
  background-image: url("../../helper/pexels-pixabay-326279.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  background-color: rgba(105, 105, 105, 0.5);
  border-radius: 8px;
  margin-top: 7em;
  width: 80%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
}

.containerForm {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.containerTextArea {
  display: flex;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2.5em;
  color: var(--black2);
  text-shadow: 1px 1px 2px greenyellow;
}

.label {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.divImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  min-width: 20em;
  height: 15em;
}

.button {
  position: fixed;
  top: 5.5em;
  left: 0.5em;
  border-radius: 8px;
  border: none;
  padding: 0.5em 0.8em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--orange1);
  color: var(--white1);
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #004c8c;
}

.button:active {
  color: #333;
}
