.container {
  background-image: url("../../helper/pexels-pixabay-326279.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container label {
  color: aliceblue;
  font-size: 1.2em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
