.conteinerCard {
}

.card {
  width: 22em;
  height: 30em;
  background-color: var(--white1);
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Agregar sombra */
}
.img {
  width: 100%;
  max-width: 100%;
  height: 20em;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
