.conteinerCard {
}
.link {
  text-decoration: none;
}
.card {
  width: 24em;
  height: 32em;
  background-color: var(--white1);
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5em;
  transition: all 0.3s;
}

.card:hover {
  background-color: var(--white2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.img {
  width: 100%;
  max-width: 100%;
  height: 20em;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.title {
  font-size: 1.3em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  color: var(--black1);
}

.span {
  color: var(--black2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 3px;
}

.li {
  display: inline-block;
  color: var(--black3);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: capitalize;
}
.info {
  display: flex;
  align-items: center;
  gap: 1.5em;
  height: 4em;
}
.p {
  color: var(--black2);
  font-size: 1em;
}
.button {
  width: 6em;
  height: 2.5em;
  border-radius: 8px;
  padding: 0.3em 0.8em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: var(--orange1);
  border: 1px solid;
  color: var(--white1);
  text-shadow: 1px 1px 1px #252525;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-bottom: 5px;
}

.button:hover {
  background-color: #5e412f;
  border: 1px solid green;
}

.button:active {
  color: #333;
}

@media (max-width: 391px) {
  .card {
    font-size: 9px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .card {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
