.about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--white3);
}

.container {
  width: 80%;
  margin: 7.5em 2em;
  padding: 1em 2em;
  background-color: var(--white1);
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.button {
  position: fixed;
  top: 5.5em;
  left: 0.5em;
  border-radius: 8px;
  border: none;
  padding: 0.5em 0.8em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--orange1);
  color: var(--white1);
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #e62828;
}

.button:active {
  color: #333;
}

.title {
  font-weight: 900;
  font-size: 3em;
  text-align: center;
}
.henryLink {
  text-decoration: none;
  color: var(--orange1);
  font-weight: 500;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 2.5em;
}

.info p {
  font-size: 1.2em;
  margin: 0;
}

.tecnologias {
  width: 55rem;
  font-size: 0.9rem;
  color: var(--black2);
  font-family: "Roboto Mono", monospace;
}
.table {
  border-collapse: separate;
  border-spacing: 10px;
}
li::marker {
  color: var(--orange1);
}

.contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 1em;
}
.subTitle {
  margin-top: 2em;
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 0 0 1px green;
}
.divButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46c054;
  width: 17em;
  height: 3em;
  border-radius: 50px;
  transition: all 0.5s;
}
.link:hover {
  background-color: #41d352;
}

.buttonWhats {
  border: none;
  background-color: transparent;
  color: var(--white2);
  font-weight: 600;
  text-shadow: 0 0 2px var(--black2);
  font-size: 16px;
  cursor: pointer;
}
.imgWhats {
  height: 30px;
}

@media (max-width: 391px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0px 5px;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 7em;
  }
  .button {
    font-size: 12px;
    position: fixed;
    top: 7.8em;
    left: 0.5em;
  }
  .title {
    width: 100%;
    font-size: 20px;
    text-shadow: 0px 0px 1px green;
    margin-top: 1em;
    font-weight: 500;
  }
  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 0 5px;
  }
  .info p {
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
  }

  .tecnologias {
    width: 90%;
  }

  .table li {
    margin: 1px 0px;
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 600;
  }
  .table {
    margin-top: 5px;
    border-collapse: separate;
    border-spacing: 2px;
  }
  .contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .subTitle {
    text-align: center;
    width: 60%;
    margin-top: 20px;
    font-size: 13px;
    text-shadow: 0px 0px 1px green;
  }
  .link {
    font-size: 13px;
    margin-bottom: 1em;
  }
  .buttonWhats {
    border: none;
    background-color: transparent;
    color: var(--white2);
    font-weight: 600;
    text-shadow: 0 0 2px var(--black2);
    font-size: 13px;
    cursor: pointer;
  }
  .imgWhats {
    height: 25px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0px 5px;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 11.5em;
  }
  .button {
    font-size: 14px;
    position: fixed;
    top: 10.8em;
    left: 0.5em;
  }
  .title {
    width: 100%;
    font-size: 22px;
    text-shadow: 0px 0px 1px green;
  }
  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  .info p {
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
  }
  .link {
    font-size: 20px;
  }

  .subTitle {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;
    text-shadow: 0px 0px 1px green;
  }

  .tecnologias {
    width: 90%;
  }

  .table li {
    margin: 1px 0px;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
  }
  .table {
    border-collapse: separate;
    border-spacing: 5px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .about {
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    display: flex;
    margin: 13em 4em;
  }
  .tecnologias {
    width: 90%;
  }

  .button {
    /* font-size: 14px; */
    position: fixed;
    top: 8.2em;
    left: 0.5em;
  }
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
