.container {
  display: flex;
  gap: 4px;
}

.inputSearch {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 1px solid #c2c2c2;
  background-image: url(../../helper/searchicon.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 35px;
  background-position: 3px;
}
.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #f54748;
  padding: 9px 11px;
  border-radius: 5px;
  color: #fff;
  border: none;
  transition: background-color 0.2s;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(245, 71, 72, 0.8);
}

.button:active {
  background-color: rgba(253, 137, 28, 0.8);
}

.button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(245, 71, 72, 0.3);
}
