.container {
  display: flex;
  gap: 4px;
}

.inputSearch {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 1px solid #c2c2c2;
  background-image: url(../../helper/searchicon.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 35px;
  background-position: 3px;
}
.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #f54748;
  padding: 9px 11px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #252525;
  border: none;
  transition: background-color 0.4s;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button:hover {
  background-color: #f12727;
}

.button:active {
  background-color: rgba(253, 137, 28, 0.8);
}

.button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(245, 71, 72, 0.3);
}

@media (max-width: 391px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .divButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputSearch {
    font-size: 8px;
    margin: 0;
  }
  .button {
    padding: 6px;
    margin: 0;
    color: black;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    background-color: var(--orange3);
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .inputSearch {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .inputSearch {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
