.container {
  display: flex;
  gap: 4px;
}

.inputSearch {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 1px solid #c2c2c2;
  background-image: url(../../helper/searchicon.png);
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 35px;
  background-position: 3px;
}
.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: 0.5em 0.8em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green1);
  color: var(--white1);
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: var(--green2);
}

@media (max-width: 391px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .divButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputSearch {
    font-size: 8px;
    margin: 0;
  }
  .inputSearch::placeholder {
    font-size: 11px; /* Establece el tamaño de fuente del placeholder */
    color: #999; /* Establece el color del placeholder */
  }
  .button {
    padding: 6px;
    margin: 0;
    color: var(--black2);
    text-shadow: 0 0 1px green;
    font-weight: 600;
    font-size: 13px;
    background-color: var(--orange3);
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .inputSearch {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .inputSearch {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
