.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  position: absolute;
}

.card {
  width: 40em;
  height: 20em;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px); /* Filtro de borroso */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.areYou {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px 5px #252525;
  color: #ffffff;
  margin: 0;
}
.hungry {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px 5px #252525;
  color: #ffa500;
  font-size: 4em;
  margin: 0;
}

.parrafo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-shadow: 1px 1px 5px #252525;
  color: #ffa500;
  font-size: 1.1em;
}

.button {
  border-radius: 8px;
  border: none;
  padding: 0.4em 1em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #ffa500;
  color: #ffffff;
  text-shadow: 1px 1px 1px #252525;
  cursor: pointer;
  transition: background-color 0.4s;
  margin: 1em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: 0.5em 0.8em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green1);
  color: var(--white1);
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: var(--green2);
}

.video {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  /* z-index: -1; */
}

@media (max-width: 391px) {
  .video {
    display: none;
  }
  .landing {
    background-image: url("../../helper/photo-1593504049359-74330189a345.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: flex;
    width: 95%;
    backdrop-filter: blur(0.3px);
  }
  .areYou {
    font-size: 30px;
  }
  .hungry {
    font-size: 45px;
  }

  .parrafo {
    font-size: 15px;
    text-align: center;
  }

  .button {
    font-size: 16px;
    background-color: #ffa500;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .video {
    display: none;
  }
  .landing {
    background-image: url("../../helper/photo-1593504049359-74330189a345.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: flex;
    width: 95%;
    backdrop-filter: blur(0.3px);
  }
  .areYou {
    font-size: 30px;
  }
  .hungry {
    font-size: 45px;
  }

  .parrafo {
    font-size: 15px;
    text-align: center;
  }

  .button {
    font-size: 16px;
    background-color: #ffa500;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
