.conteiner {
}

.header {
  width: 100%;
  height: 31em;
  background-image: url("../../helper/concept-mexican-food-flat-lay-685649.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.conteinerDiets {
  display: flex;
  width: 100%;
  height: 4em;
}

.loadingContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white2);
  z-index: 9999;
}

.loading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--black2);
}

.loading::after {
  content: ". . .";
  display: inline-block;
  animation: loading 1s infinite;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--black2);
}

@media (max-width: 391px) {
  .header {
    background-image: url("../../helper/mesonestafeta_slider.webp");
    background-position: left;
    height: 8em;
    width: 100%;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .header {
    background-image: url("../../helper/mesonestafeta_slider.webp");
    background-position: left;
    height: 13.5em;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
