.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.button {
  padding: 9px 19px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  background-color: #3c3c3c;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #222;
}

.buttonActive {
  background-color: #049918f3;
  padding: 9px 19px;
}

.buttonActive:hover {
  background-color: #06af1c;
  padding: 9px 19px;
}

.buttonOutline {
  color: #3c3c3c;
  background-color: transparent;
  /* border: 2px solid #3c3c3c; */
}

.buttonOutline:hover {
  color: #fff;
  background-color: #3c3c3c;
}

@media (max-width: 391px) {
  .container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin-top: 5px;
  }
  .button {
    padding: 3px;
    font-size: 10px;
    border: 0.5px solid #ddd;
    background-color: var(--pink);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .buttonActive {
    background-color: #049918f3;
    padding: 3px;
  }

  .buttonActive:hover {
    background-color: #06af1c;
    padding: 3px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin-top: 5px;
  }
  .button {
    padding: 3px;
    font-size: 13px;
    border: 0.5px solid #ddd;
    background-color: var(--pink);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .buttonActive {
    background-color: #049918f3;
    padding: 3px;
  }

  .buttonActive:hover {
    background-color: #06af1c;
    padding: 3px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
